In [2]:
#decision tree

In [3]:
import sklearn
from sklearn.tree import DecisionTreeClassifier
import pandas as pd

In [4]:
train=pd.read_csv('/Users/xiaoshuaiheng/Desktop/EE 627 Big Data/HW！/HW9/3/test2_5score.csv',header=None)
test=pd.read_csv('/Users/xiaoshuaiheng/Desktop/EE 627 Big Data/HW！/HW9/3/test_5score.csv',header=None)

In [5]:
trainX=train.iloc[:,2:7]
trainY=train.iloc[:,7]
test=test.iloc[:,2:7]

In [6]:
dt=DecisionTreeClassifier(max_depth=3)
dt.fit(trainX,trainY)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=3, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [7]:
#testY=dt.predict(test)
#testY

In [10]:
testY=dt.predict_proba(test)

In [11]:
testY

array([[0.8536    , 0.1464    ],
       [0.69868996, 0.30131004],
       [0.8536    , 0.1464    ],
       ...,
       [0.00762301, 0.99237699],
       [0.8536    , 0.1464    ],
       [0.00762301, 0.99237699]])

In [12]:
testY=testY[:,1]

In [13]:
testY

array([0.1464    , 0.30131004, 0.1464    , ..., 0.99237699, 0.1464    ,
       0.99237699])

In [14]:
result=open('/Users/xiaoshuaiheng/Desktop/EE 627 Big Data/HW！/HW9/3/testY1.txt','w')
for i in range(len(testY)):
    result.write(str(testY[i])+'\n')

In [1]:
#reload

In [3]:
import pandas as pd
s=pd.read_csv('/Users/xiaoshuaiheng/Desktop/EE 627 Big Data/HW！/HW9/3/prob_dt.csv')

In [4]:
s.head(5)

   UserID  TrackID     Score
0  199810   208019  0.146400
1  199810    74139  0.301310
2  199810     9903  0.146400
3  199810   242681  0.146400
4  199810    18515  0.646091

In [5]:
s1=s.sort_values(by=['UserID','Score'])
s1.head(5)

   UserID  TrackID     Score
0  199810   208019  0.146400
2  199810     9903  0.146400
3  199810   242681  0.146400
1  199810    74139  0.301310
4  199810    18515  0.646091

In [6]:
j=0
for i in range(120000):
    if j<3:
        s1.iloc[i,2]=0
    else:
        s1.iloc[i,2]=1
    j+=1
    if j==6:
        j=0

In [7]:
s1.head(5)

   UserID  TrackID  Score
0  199810   208019    0.0
2  199810     9903    0.0
3  199810   242681    0.0
1  199810    74139    1.0
4  199810    18515    1.0

In [8]:
import numpy as np
for i in range(120000):
    if i%6==0:
        matrix=np.zeros((6,3))
        for j in range(6):
            matrix[j,0]=s1.iloc[i+j,0]
            matrix[j,1]=s1.iloc[i+j,1]
            matrix[j,2]=s1.iloc[i+j,2]
    for k in range(6):
        if matrix[k,0]==s.iloc[i,0] and matrix[k,1]==s.iloc[i,1]:
            s.iloc[i,2]=matrix[k,2]
            break

In [9]:
s

        UserID  TrackID  Score
0       199810   208019    0.0
1       199810    74139    1.0
2       199810     9903    0.0
3       199810   242681    0.0
4       199810    18515    1.0
...        ...      ...    ...
119995  249010    72192    0.0
119996  249010    86104    0.0
119997  249010   186634    1.0
119998  249010   293818    0.0
119999  249010   262811    1.0

[120000 rows x 3 columns]

In [10]:
s.to_csv('/Users/xiaoshuaiheng/Desktop/EE 627 Big Data/HW！/HW9/3/result_dt.csv')